=f.label :会社名 ,class: "input-box-name-label"
=f.label :必須 ,class: "com-input-box-label"
=f.text_field :name, class: "input-box-name"
=f.label :〒住所, class: "input-box-postcode-label"
=f.label :必須 ,class: "com-input-box-label"
=f.text_field :postcode, class: "input-box-postcode"
=f.label :電話番号, class: "input-box-phone_number-label"
=f.label :必須 ,class: "com-input-box-label"
=f.text_field :phone_number, class: "input-box-phone_number"
=f.label :資本金, class: "input-box-capital-label"
=f.label :必須 ,class: "com-input-box-label"
=f.text_field :capital, class: "input-box-capital"
=f.label :売上高, class: "sale-label"
=f.label :必須 ,class: "com-input-box-label"
=f.text_field :sale, class: "sale-text" 
=f.label :事業内容, class: "description-label"
=f.label :必須 ,class: "com-input-box-label"
=f.text_field :description, class: "description-text" 
=f.label :特徴, class: "characteristic-label"
=f.label :任意, class: "com-input-box-label-h"
=f.text_field :characteristic, class: "characteristic-text" 
=f.label :URL, class: "url-label"
=f.label :任意, class: "com-input-box-label-h"
=f.text_field :url, class: "url-text" 