.edit-company
 =render "reports/header"
 - breadcrumb :company_edit
 = render "layouts/breadcrumbs"

 .ed-company-contents
  .ed-company-data
   .ed-company-title
    %tr
     %th『編集 フォーム』

   .ed-company-box
    = form_for [@company] do |f|
     =render partial: "company_form", locals: { f: f}
     