.input-box-date {
  width: 200px;
  height: 30px;
  appearance: none;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-top: 5px;
  display: block;
  margin-bottom: 10px;
  border: 1px solid rgb(19, 22, 19);
  font-size: 15px;
}
.input-box-date-label{
 margin-left: 10px;
 font-size: 13px;
}
.input-box-date-label-h{
 margin-left: 5px;
 font-size: 13px;
 background-color: rgb(20, 73, 220);
 color: beige;
}
.input-box-where{
 width: 200px;
 height: 30px;
 border: 1px solid #ccc;
 appearance: none;
 border-radius: 5px;
 padding: 5px;
 margin-left: 10px;
 margin-bottom: 10px;
 border: 1px solid rgb(19, 22, 19);
 display: block;
 font-size: 15px;
}
.input-box-where-label {
 margin-left: 10px;
 font-size: 13px;
}
.input-box-where-label-h{
 margin-left: 5px;
 font-size: 13px;
 background-color: rgb(20, 73, 220);
 color: beige;
}
.input-box-responder {
 width: 200px;
 height: 30px;
 border: 1px solid #ccc;
 appearance: none;
 border-radius: 5px;
 padding: 5px;
 margin-left: 10px;
 margin-bottom: 10px;
 display: block;
 border: 1px solid rgb(19, 22, 19);
 font-size: 15px;
}
.input-box-responder-label {
 margin-left: 10px;
 font-size: 13px;
}
.input-box-responder-label-h{
 margin-left: 5px;
 font-size: 13px;
 background-color: rgb(20, 73, 220);
 color: beige;
}
.input-box-companion {
 width: 200px;
 height: 30px;
 border: 1px solid #ccc;
 appearance: none;
 border-radius: 5px;
 padding: 5px;
 margin-left: 10px;
 margin-bottom: 10px;
 display: block;
 border: 1px solid rgb(19, 22, 19);
 font-size: 15px;
}
.input-box-companion-label {
 margin-left: 10px;
 font-size: 13px;
}
.input-box-companion-label-h{
 margin-left: 5px;
 font-size: 13px;
 background-color: rgb(161, 162, 167);
 color: beige;
}
.report-text {
 width: 420px;
 height: 200px;
 border: 1px solid #ccc;
 appearance: none;
 border-radius: 5px;
 padding: 5px;
 margin-left: 10px;
 margin-bottom: 10px;
 display: block;
 white-space: pre-line;
 word-break: break-all;
 border: 1px solid rgb(19, 22, 19);
 font-size: 15px;
}
.report-text-label {
 margin-left: 10px;
 font-size: 13px;
}
.report-text-label-h{
 margin-left: 5px;
 font-size: 13px;
 background-color: rgb(20, 73, 220);
 color: beige;
}
.input-box-btn {
 background-color: #333;
 border: 2px solid #333;
 color: #fff;
 margin-left: 10px;
 font-size: 15px;
 width: 100px;
 height: 30px;
 margin-bottom: 5px;
 appearance: none;
 border-radius: 5px;
 cursor: pointer;
 &:hover {
   background-color: #fff;
   border-color: #59b1eb;
   color: #59b1eb
 }
}