* {
  box-sizing: border-box;
}

.com-titles{
  height: 50px;
  width: 100%;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
}

.com-contens {
  background-image: url("14-1.jpg");
  background-size: cover;
  background-color: rgba(255,255,255,0.1);
  width: 100%;
  height: 620px;
  display: flex;
  background-color: #59b1eb;
  justify-content: space-around;
 .com-content-left {
  width: 400px;
  height: 510px;
  .com-title {
    text-align: center;
  }
  .com-text {
  border: 2px solid black;
  }
  .com-input-box-btn {
    height: 30px;
    width: 90px;
    font-size: 12px;
    background-color: blue;
    margin-top: 10px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    &:hover {
      background-color: #fff;
      border-color: #59b1eb;
      color: #59b1eb
    }
   }
 }
 .com-contents-right {
   width: 900px;
   height: 510px;
   display: block;
   .com-report-box-new {
     height: 50px;
   }
   .com-report-box {
    height: 200px;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: white;
   }
 }
 .comments {
  height: 200px;
  width: 550px;
  margin-left: 10px;
  color: black;
  background-color: white;
  border: 2px solid black;
  overflow: scroll;
  margin-top: 40px;
 }

 .comment-box {
   margin-top: 3px;
 }
  
 a {
  color:blue;
  } 
 
}