.edit-company{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.ed-company-contents {
 width: 100%;
 height: 100%;
 display: flex;
 background-color: rgba(149, 189, 212, 0.06);
}
.ed-company-data {
flex: 1;
background-color: rgba(255,255,255,0.3);
.ed-company-title {
  height: 50px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}
a {
  text-decoration:none;
  color: black;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    border-color: #59b1eb;
    color: #59b1eb;
  }
  }
}
.edit_company {
  background-color: rgba(255,255,255,0.983);
  width: 400px;
  margin: 0 auto;
  border: 2px solid black;
}