.contents.row {
  height: 100vh;
  width:  100vw;
  .success {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin-top: 40px;
    color: black;
    font-size: 30px;
    .btn {
     height: 50px;
     width: 200px;
    }
    a {
      text-decoration: none;
      font-size: 30px;
    }
  }
}

