* {
  box-sizing: border-box;
}

.show-header {
  height: 50px;
  width: 100%;
  color: bisque;
  font-size: 40px;
  padding-left: 28px;
  background-color: rgba(0, 0, 0, 0.877);
  display: flex;
 .breadcrumbs {
   height: 50px;
   line-height: 50px;
   font-size: 15px;
   color: white;
   margin-left: 30px;
   a {
     color: white;
   }
  }

}

.show-contents {
  height: 100%;
  width: 100%;
  display: flex;
  background: url("14-1.jpg");
  background-size: cover;
}
.show-contents__left {
  background-color: rgba(255,255,255,0.3);
  height: 100%;
  width: 750px;
  color: black;
  display: block;
  overflow: scroll;
  &__top {
  height: 50px;
  width: 600px;
  list-style: 50px;
  font-size: 35px;
  display: flex;
    &__right {
    height: 50px;
    width: 600px;
    text-align: center;
    line-height: 50px;
    }
  }
  &__report {
    height: 600px;
    width: 600px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.983);
    border: solid 2px black;
   .show-pagi {
     margin-left: 50px;
   }
   .show-link {
     margin-left: 50px;
   }
   .show-comment {
     margin-left: 50px;
   }
    ul {
      float: left;
      margin-top: 5px;
    }
    li {
      list-style: none;
      padding-left: 10px;
      float: left;
      margin-top: 5px;
      padding-right: ５px;
    }
    a {
      color:rgb(34, 38, 243);
      text-decoration: none;
    }
    .icon {
     font-size: 24px;
     margin-top: 2px;
     color: gold;
     padding-left: 5px;

    }
    .unicon {
      margin-top: 7px;
      color: black;
      padding-left: 5px;
    }
  }
  .report-box-new {
    width: 500px;
    margin-bottom: 2px;
    margin: 0 auto;
  }

  .report-box {
    width: 500px;
    margin-bottom: 5px;
    background-color:white;
    margin: 0 auto;
  }
}

.show-contents__right {
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  width: calc(100vw - 600px );
  display: block;
  background-position: bottom;
  .show-title {
    height: 40px;
    width: 400px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    font-size: 20px;
    position: absolute;
    padding-left: 110px;
  }
  .king {
    position: relative;
    height: 40px;
    width: 40px;
    margin-left: 80px;
    font-size: 25px;
    line-height: 40px;
    color: gold;
  }
  .report-ranking {
    margin-bottom: 3px;
    background-color: white;
    margin-left: 50px;
    
  }
  .report-ranking-box {
  }
}