.header
 =render "header"
 - breadcrumb :edit_report
 = breadcrumbs separator: " &rsaquo; "


.edit-main-contents
 .edit-report-main
  .edit
   %p『報告フォーム 編集』
   = form_for [@report] do |f|
    =render partial: "form", locals: { f: f}

 