.header
 =render "header"
 - breadcrumb :comment
 = breadcrumbs separator: " &rsaquo; "

.com-titles
 %p ＜日報＞

.com-contens
 .com-content-left
  .com-title 
   %p ＜コメント投稿＞
  .comment
   - if current_user 
    = form_for [@report, @comment] do |f|
     =f.text_area :content, class: "com-text" ,size: "48x7" 
     =f.submit 'コメントする', class: "com-input-box-btn", data: { confirm: "コメントしますか？" } 
  
 .com-contents-right
  =render partial: "reports/report_display", locals:{report: @report} 

  .comments
   %p ＜コメント一覧＞
   -@comments.each do |comment|
    .comments-boxes
    - if current_user_has?(comment)
     = link_to report_comment_path(comment.report.id, comment.id) , method: :delete, data: { confirm: "削除しますか？" } do
      =icon('far','trash-alt', class: 'icon')
    %table.comment-box
     %tr
      %th 投稿者:
      %th{:width => "80"} 
       =comment.user.name
      %th 
       =comment.content
    